@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap");

@import "tailwindcss";

@layer base {
    html {
      font-family: "Poppins", ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif;
    }
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        overscroll-behavior: none;
        overflow-x: hidden;
    }
  }
  
@layer components {
}

